:root {
  --primary: #1a4985;
  --bs-primary: #1a4985;
}

h1, h2, h3, h4, h5 {
  color: var(--primary);
  text-transform: uppercase;
  font-family: 'Roboto condensed', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2;
  font-weight: 700;
}

.peskas-display {
  font-weight: 700;
}

.peskas-display::after {
  content: " ";
  background: #58ab47;
  text-align: center;
  width: 50%;
  height: 3px;
  display: block;
  margin: 15px auto; 
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  background-color: #f5f5f5;
}

.lead {
  font-weight: 400;
}

.cover-container {
  max-width: 42em;
}

a, .btn-link {
  color: var(--primary);
  text-decoration: underline;
}

.btn-outline-primary {
  color: var(--primary);
  border-color: var(--primary);
  /* background-color: white; */
}

.btn-outline-primary:hover {
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-outline-primary:scope {
  background-color: var(--primary);
  border-color: var(--primary);    
}

.copyright {
  text-transform: uppercase;
  font-family: 'Roboto condensed', sans-serif;
  font-weight: 700;
}

.card-image {
  width: 100%;
  height: 220px; /* Adjust the height as desired */
}

.carousel-control-prev,
.carousel-control-next {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .6;
  transition: opacity .6s ease;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.carousel-indicators .active {
  background-color: rgba(0, 0, 0, 0.9);
}


.carousel-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.08rem;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: left;
}

/* Change the color of carousel arrows to black */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(50%);
}