// Load CSS Reset from NPM
// @import "~normalize.css";
@import "~bootstrap/scss/bootstrap";
@import "cover.css";

.cover-container {
  max-width: 42em;
}

html,
body {
  height: 100%;
  background-color: $dark !important;
}
